

body{
    font-family: 'Poppins', sans-serif;
    
}
 ul li{
    display: inline-block;
    margin-left: 150px;
    padding: left 20px; ;
    font-size: 20px;
    height: 15px;
    color: rgb(255, 0, 136);
}

h1{
    font-size: 60px;
    color: cadetblue;
}
.skip-color{
    color: orange;
}
h3{
    color: cadetblue;
    padding-bottom: 5px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
padding-left: 5%;
    
    
}
.half-width img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, orangered);
    padding: 15px 40px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
}