

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

    
    
}
 ul li{
    display: inline-block;
    margin-left: 150px;
    padding: left 20px; ;
    font-size: 20px;
    height: 15px;
    color: rgb(255, 0, 136);
}

h1{
    font-size: 60px;
    color: cadetblue;
}
.skip-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 65%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, orangered);
    padding: 15px 40px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
}
.sec-part{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#girl-img{
    width: 50%;
    padding-right: 2%;
}





